Note
Access to this page requires authorization. You can trysigning inorchanging directories.
Access to this page requires authorization. You can trychanging directories.
Azure Arc-enabled Kubernetes network requirements
Article
2025-04-15
1 contributor
In this article
This topic describes the networking requirements for connecting a Kubernetes cluster to Azure Arc and supporting various Arc-enabled Kubernetes scenarios.
Tip
For the Azure public cloud, you can reduce the number of required endpoints by using theAzure Arc gateway (preview).
Details
Generally, connectivity requirements include these principles:
All connections are TCP unless otherwise specified.
All HTTP connections use HTTPS and SSL/TLS with officially signed and verifiable certificates.
All connections are outbound unless otherwise specified.
To use a proxy, verify that the agents and the machine performing the onboarding process meet the network requirements in this article.
Azure Cloud
Azure Government
Microsoft Azure operated by 21Vianet
Important
Azure Arc agents require the following outbound URLs onhttps://:443to function.
For*.servicebus.windows.net, websockets need to be enabled for outbound access on firewall and proxy.
https://:443
*.servicebus.windows.net
https://management.azure.com
https://<region>.dp.kubernetesconfiguration.azure.com
https://login.microsoftonline.com
https://<region>.login.microsoft.com
login.windows.net
https://mcr.microsoft.com
https://*.data.mcr.microsoft.com
dl.k8s.io
https://gbl.his.arc.azure.com
https://*.his.arc.azure.com
guestnotificationservice.azure.com
*.guestnotificationservice.azure.com
sts.windows.net
*.servicebus.windows.net
https://graph.microsoft.com/
*.arc.azure.net
https://<region>.obo.arc.azure.com:8084/
https://linuxgeneva-microsoft.azurecr.io
To translate the*.servicebus.windows.netwildcard into specific endpoints, use the command:
*.servicebus.windows.net
GET https://guestnotificationservice.azure.com/urls/allowlist?api-version=2020-01-01&location=<region>
GET https://guestnotificationservice.azure.com/urls/allowlist?api-version=2020-01-01&location=<region>
To get the region segment of a regional endpoint, remove all spaces from the Azure region name. For example,East US 2region, the region name iseastus2.
eastus2
For example:*.<region>.arcdataservices.comshould be*.eastus2.arcdataservices.comin the East US 2 region.
*.<region>.arcdataservices.com
*.eastus2.arcdataservices.com
To see a list of all regions, run this command:
az account list-locations -o table
az account list-locations -o table
Get-AzLocation | Format-Table
Get-AzLocation | Format-Table
Important
Azure Arc agents require the following outbound URLs onhttps://:443to function.
For*.servicebus.usgovcloudapi.net, websockets need to be enabled for outbound access on firewall and proxy.
https://:443
*.servicebus.usgovcloudapi.net
https://management.usgovcloudapi.net
https://<region>.dp.kubernetesconfiguration.azure.us
https://login.microsoftonline.us
<region>.login.microsoftonline.us
https://mcr.microsoft.com
https://*.data.mcr.microsoft.com
https://gbl.his.arc.azure.us
https://usgv.his.arc.azure.us
guestnotificationservice.azure.us
*.guestnotificationservice.azure.us
sts.windows.net
*.servicebus.usgovcloudapi.net
https://graph.microsoft.com/
https://usgovvirginia.obo.arc.azure.us:8084/
To translate the*.servicebus.usgovcloudapi.netwildcard into specific endpoints, use the command:
*.servicebus.usgovcloudapi.net
GET https://guestnotificationservice.azure.us/urls/allowlist?api-version=2020-01-01&location=region
GET https://guestnotificationservice.azure.us/urls/allowlist?api-version=2020-01-01&location=region
To get the region segment of a regional endpoint, remove all spaces from the Azure region name. For example,East US 2region, the region name iseastus2.
eastus2
For example:*.<region>.arcdataservices.comshould be*.eastus2.arcdataservices.comin the East US 2 region.
*.<region>.arcdataservices.com
*.eastus2.arcdataservices.com
To see a list of all regions, run this command:
az account list-locations -o table
az account list-locations -o table
Get-AzLocation | Format-Table
Get-AzLocation | Format-Table
Important
Azure Arc agents require the following outbound URLs onhttps://:443to function.
For*.servicebus.chinacloudapi.cn, websockets need to be enabled for outbound access on firewall and proxy.
https://:443
*.servicebus.chinacloudapi.cn
https://management.chinacloudapi.cn
https://<region>.dp.kubernetesconfiguration.azure.cn
https://login.chinacloudapi.cn
https://<region>.login.chinacloudapi.cn
login.partner.microsoftonline.cn
mcr.azk8s.cn
https://gbl.his.arc.azure.cn
https://*.his.arc.azure.cn
guestnotificationservice.azure.cn
*.guestnotificationservice.azure.cn
sts.chinacloudapi.cn
*.servicebus.chinacloudapi.cn
https://graph.chinacloudapi.cn/
*.arc.azure.cn
https://<region>.obo.arc.azure.cn:8084/
quay.azk8s.cn
registryk8s.azk8s.cn
k8sgcr.azk8s.cn
usgcr.azk8s.cn
dockerhub.azk8s.cn/<repo-name>/<image-name>:<version>
Additional endpoints
Depending on your scenario, you may need connectivity to other URLs, such as those used by the Azure portal, management tools, or other Azure services. In particular, review these lists to ensure that you allow connectivity to any necessary endpoints:
Azure portal URLs
Azure CLI endpoints for proxy bypass
For a complete list of network requirements for Azure Arc features and Azure Arc-enabled services, seeAzure Arc network requirements.
Next steps
Understandsystem requirements for Arc-enabled Kubernetes.
Use ourquickstartto connect your cluster.
Reviewfrequently asked questionsabout Arc-enabled Kubernetes.
Feedback
Was this page helpful?
Additional resources